$color-primary: #7eb827;
$color-secondary: #f2f8e9;

$color-bodernav: #c0c6b8;
$color-boder-box:#a7babf;
$color-grey: #757474;
$color-white: #ffffff;
$color-black: #4f4e53;
$color-light-black: #000;
$color-grey-light: #d1d1d1;






$gutter-vertical-small : 6rem;

$grid-width: 160rem;

$gutter-vertical: 8rem;    // margin bottom giữa các row
$gutter-horizontal: 6rem;   // giá trị khoảng cách giữa các column
$default-font-size: 1.6rem;

$nav-height: 8rem;