.footer{
    background-color: $color-primary;
    height: 3.3rem;
    @include responsive(SP){
        height: 5.7rem;
    }
    &__text{
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        & p{
            @include absCenter;
            font-size: 1.2rem;
            font-weight: 400;
            color: $color-white;
            @include responsive(SP){
                width: 100%;
                font-size: 2.2rem;
            }
        }
    }
}