.header{
    background-color: $color-secondary;
    &__text-box {
        position: absolute;
        width: 100%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        text-align: center;
        @include responsive(SP){
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }  
    }
}