.navigation{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $nav-height;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    border-bottom: thin solid $color-bodernav;
    animation: fadeIntop .7s ease-in;
    @include responsive(SP){
        padding: 0 2rem;
        position: fixed;
        top: 0;
        animation: fadeIntop .5s ease-in;
        z-index: 9999;
    }
    @include responsive(SP-small){
        height: 4rem;
    }
    &__checkbox{
        display: none;
    }
    &__checkbox:checked~&__list {
        display: flex;
        flex-direction: column;
        background-color: rgba($color-white,.95);
    }
    &__button{
        background-color: transparent;
        height: 5rem;
        width: 5rem;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
        display: none;
        @include responsive(SP){
            display: block;
            position: absolute;
            right: 2rem;
            top: 2.1rem;
        }
        @include responsive(SP-small){
            display: block;
            position: absolute;
            right: 1rem;
            top: 0.25rem;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__icon {
        position: relative;
        &,
        &::before,
        &::after {
            width: 5rem;
            height: .4rem;
            background-color: $color-primary;
            display: inline-block;
            @include responsive(SP-small){
               width: 2.5rem;
               height: .2rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .25s;
        }

        &::before {
            top: -1.6rem;
            @include responsive(SP-small){
               top: -.8rem;
             }
        }

        &::after {
            top: 1.6rem;
            @include responsive(SP-small){
                top: .8rem;
              }
        }

    }
    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1.9rem;
        cursor: pointer;
        & img{
            width: 100%;
        }
        @include responsive(SP){
            padding: 1.1rem 0;
            margin-top: 1rem;
        }
        @include responsive(SP-small){
            padding: 0;
            margin-top: .5rem;
            transform: scale(.5);
            position: relative;
            left: -20%;
        }
    }

    &__list{
        display: flex;
        list-style: none;
        height: 100%;
        padding-right: 1.8rem;
        @include responsive(SP){
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding-right: 0;
            padding-top: $nav-height;
            transition: all .3s linear;
        }
        @include responsive(SP-small){
            padding-top: 4rem;
          }
    }
    &__item{
        padding: 0 2.5rem;
        border-right: 1px solid $color-grey-light;
        border-left: 1px solid $color-grey-light;
        transform: skew(-25deg);
        cursor: pointer;
        transition: all .5s;
        @include responsive(SP){
            padding: 1.5rem 0;
            transform: skew(0);
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $color-grey-light;
        }
        @include responsive(SP-small){
            padding: .75rem 0;
            border-bottom: .5px solid $color-grey-light;
          }
    }
    &__item:hover{
        background-color: $color-primary;
    }
    &__item:hover &__link{
        color: $color-white;
        & span{
            color: $color-white;
        }
    }
    &__link{
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: skew(25deg);
        padding:1.5rem 0;
        color: $color-grey;
        font-size: 1.4rem;
        & span{
            color: $color-primary;
            font-size: 1.8rem;
        }
        @include responsive(tab-port){
            font-size: 1.2rem;
            & span{
                font-size: 1.6rem;
            }
        }
        @include responsive(tab-land){
            padding: .5rem 0;
        }
        @include responsive(SP){
            margin: 0;
            transform: skew(0);
            padding: 0;
            font-size: 1.4rem;
            & span{
                font-size: 1.8rem;
            };
        }
        @include responsive(SP-small){
            font-size: .7rem;
            & span{
                font-size: .9rem;
            }
          }

    }
}