body {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}
.heading{
    padding: 6.5rem 0 5.5rem;
    @include responsive(SP){
        padding: 4.5rem 0 5rem;
    }
    @include responsive(SP-small){
        padding: 2.25rem 0 2.5rem;
    }
}
.heading-primary{
    font-size: 4.8rem;
    color: $color-white;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 3.4rem;
    letter-spacing: 1.2;
    animation: moveInBottom 1.2s;
    animation-delay: .35s;
    animation-fill-mode: backwards;
    @include responsive(tab-port){
        font-size: 3.8rem;
    }
    @include responsive(SP){
        font-size: 3.2rem;
    }
    @include responsive(SP-small){
        font-size: 1.6rem;
        padding-bottom: 1.7rem;
    }
    &__title{
        font-size: 3.6rem;
        text-transform: uppercase;
        color: $color-primary;
        @include responsive(SP){
            font-size: 4.6rem;
        }
        @include responsive(SP-small){
            font-size: 2.3rem;
        }
    }
    &__subtitle{
        display: block;
        font-size: 1.4rem;
        line-height: 1;
        color: $color-grey;
        font-weight: 400;
        @include responsive(SP){
            font-size: 2.4rem;
        }
        @include responsive(SP-small){
            font-size: 1.2rem;
        }
    }
    &__desc{
        margin-top: 4rem;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        color: $color-black-subtitle;
        color: $color-light-black;
        @include responsive(SP){
            font-size: 2.4rem;
            margin-top: 3rem;
        }
        @include responsive(SP-small){
            font-size: 1.2rem;
            margin-top: 1.5rem;
        }
    }
}
.heading-secondary{
    font-size: 2.4rem;
    color: $color-white;
    font-weight: 300;
    text-align: center;
    animation: moveInBottom 1.5s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
    @include responsive(tab-port){
        font-size: 2.2rem;
    }
    @include responsive(SP-small){
        font-size: 1.2rem;
    }
}