.u-center-text{
    text-align: center !important; 
}
.u-center-normal{
    display: inline-block;
    max-width: 550px;
}
.u-margin-top-{
    margin: -2.5rem;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.no-wraptext{
    white-space: nowrap;
}
.text-green-h3 {
    font-size: 1.8rem;
    color:  $color-primary;
    font-weight: 700;
}
.color-white{
    color: $color-white !important;
}
.fixed-body {
  overflow: hidden;
}
.fixed-menu{
    position: fixed!important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.bright-low{
    filter: brightness(.7);
    @include responsive(SP){
        filter: brightness(.45);
    }
}
.is-sp{
    display: none!important;
    @include responsive(SP){
        display: block!important;
    }
}
.is-pc{
    display: block!important;
    @include responsive(SP){
        display: none!important;
    }
}