.section-service{
    background-color: $color-secondary;
    padding-bottom: 6.5rem;
    @include responsive(SP){
        padding-bottom: 3.9rem;
    }
    @include responsive(SP-small){
        padding-bottom: 1.95rem;
    }
}
.section-about{
    background-color: $color-primary;
    padding: 3rem 0 5.5rem;
    position: relative; 
    @include responsive(SP){
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    @include responsive(SP){
      padding-bottom: 2.25rem;
    }
    &__img{
        position: absolute;
        width: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        @include responsive(SP){
            position: static;
            height: 35rem;
            width: 100%;
            margin-bottom: 4.5rem;
        }
        @include responsive(SP-small){
            height: 17.5rem;
        }
        & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.sectione-partners{
    background-color: $color-white;
    padding-bottom: 8rem;
    @include responsive(SP){
        margin-top: -2rem;
        padding-bottom: 5rem;
    }
}
.section-recruit{
    width: 100%;
    text-align: center;
    padding-bottom: 7.5rem; 
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(126, 184, 39, 0.7), rgba(126, 184, 39, 0.5));
    @include responsive(SP-small){
        padding-bottom: 1.5rem;
    }
}
.parallax{
    display: inline-block;
    position: absolute;
    width: 120%;
    height: 140%;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none;
    z-index: -1;
    @include responsive(big-desktop){
        width: 200%;
    }
    @include responsive(tab-land){
        width: 300%;
        height: 150%;
    }
}
.section-contact{
    background-color: $color-black;
    padding-bottom: 4.2rem;
    position: relative;
    @include responsive(SP-small){
        padding-bottom: 2.1rem;
    }
    &__content{
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        @include responsive(tab-port){
            flex-direction: column;
            margin-top: -5rem;
        }
        @include responsive(SP-small){
            margin-top: -2.5rem;
        }
    }
}
